/* line 29, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
.table {
  display: table;
  height: 100%;
}

/* line 33, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
.vert-align {
  display: table-cell;
  vertical-align: middle;
}

/* line 39, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 44, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
body,
form,
input,
textarea {
  font-family: 'Roboto', sans-serif;
}

/* line 50, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
h1 {
  font-family: 'PT Serif', serif;
  font-family: 'Ceviche One', cursive;
  color: #0281ff;
  font-weight: 400;
  font-size: 5rem;
  letter-spacing: 0.1rem;
}

/* line 58, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
p {
  text-align: justify;
  line-height: 160%;
  font-size: 1.4rem;
  font-weight: 300;
}

/* line 64, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
p.feature {
  font-size: 2.2rem;
  padding: 1.5rem 0 1.5rem 0;
}

/* line 68, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
button {
  border: none;
  cursor: pointer;
  outline: none;
}

/* line 73, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 77, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
input,
textarea {
  border: none;
  outline: none;
}

@media (max-width: 1000px) {
  /* line 83, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  html,
  body {
    font-size: 85%;
  }
}
@media (max-width: 850px) {
  /* line 89, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  html,
  body {
    font-size: 80%;
  }

  /* line 93, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  h1 {
    font-size: 4rem;
  }

  /* line 96, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  p.feature {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  /* line 101, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  html,
  body {
    font-size: 76%;
  }
}
/* line 108, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
header {
  background: #001428;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff;
}

/* line 116, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0px auto;
  min-height: 100%;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1550px) {
  /* line 125, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .container {
    padding-left: 5%;
  }
}
@media (max-width: 1400px) {
  /* line 130, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .container {
    padding-left: 10%;
  }
}
@media (max-width: 1300px) {
  /* line 135, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .container {
    padding: 0 4rem 0 15%;
  }
}
@media (max-width: 1200px) {
  /* line 140, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .container {
    padding: 0 4rem 0 4rem;
  }
}
@media (max-width: 450px) {
  /* line 145, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .container {
    padding: 0 2rem 0 2rem;
  }
}
@media (max-width: 850px) {
  /* line 150, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  header {
    height: auto;
    position: relative;
    padding: 5rem 0 8rem 0;
  }
}
/* line 156, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container {
  text-align: center;
}
/* line 158, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container #splash {
  width: 100%;
  float: left;
  margin: 0px auto;
  margin-bottom: 7rem;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 165, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container #splash #splash-text {
  text-align: left;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 169, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container #splash #splash-text #splash-title {
  font-size: 12rem;
  width: 100%;
  float: left;
  font-weight: 900;
  font-family: 'Ceviche One', cursive;
  letter-spacing: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 178, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container #splash #splash-text #splash-info {
  float: left;
  width: 100%;
  text-align: inherit;
  color: #446b8c;
  box-sizing: border-box;
  padding: 0 0 0 1.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 186, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container #splash #splash-text #splash-info p {
  text-align: inherit;
  margin: 1rem 0 1rem 0;
  font-size: 2.4rem;
  font-weight: 400;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 197, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container a.button,
#splash-container button {
  font-size: 1.4rem;
  background: #0281ff;
  color: #9bcdff;
  box-shadow: 0px 2px 8px #000;
  padding: 1.3rem 2.6rem 1.3rem 2.6rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 205, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#splash-container a.button:hover,
#splash-container button:hover {
  background: #68b4ff;
  color: #fff;
}

/* line 211, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#logo {
  background: url("logo.svg") no-repeat center center;
  box-sizing: border-box;
  background-size: contain;
  padding-bottom: 35%;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1200px) {
  /* line 223, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-title {
    font-size: 10rem;
  }
  /* line 227, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-info p {
    font-size: 2.2rem;
  }
}
@media (max-width: 1000px) {
  /* line 239, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-title {
    font-size: 10rem;
  }
  /* line 243, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-info p {
    font-size: 2rem;
  }
}
@media (max-width: 850px) {
  /* line 253, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash {
    margin-bottom: 3rem;
  }
  /* line 255, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text {
    text-align: center;
  }
  /* line 257, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-title {
    font-size: 9rem;
  }
  /* line 260, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-info {
    padding: 0;
  }
  /* line 262, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #splash-container #splash #splash-text #splash-info p {
    font-size: 2rem;
  }

  /* line 269, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #logo {
    padding-bottom: 45%;
    margin-bottom: 2rem;
  }
}
@media (max-width: 500px) {
  /* line 275, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #logo {
    padding-bottom: 65%;
  }
}
/* line 280, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
nav {
  padding: 0 0 0 3rem;
  position: fixed;
  display: table;
  height: 100%;
  z-index: 7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 287, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
nav ul {
  display: table-cell;
  vertical-align: middle;
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 293, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
nav ul li {
  float: left;
  clear: both;
}
/* line 296, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
nav ul li a {
  color: #0067ce;
  font-size: 1.1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 0 1rem 0;
  float: left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 304, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
nav ul li a.active,
nav ul li a:hover {
  background: #001428;
  color: #9bcdff;
}

@media (max-width: 1200px) {
  /* line 313, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  nav {
    margin-left: -150px;
  }
}
/* line 318, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
#sections {
  position: absolute;
  width: 100%;
  top: 100%;
}

@media (max-width: 850px) {
  /* line 324, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  #sections {
    position: relative;
  }
}
/* line 328, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  float: left;
  padding: 2rem 0 10rem 0;
}

@media (max-width: 1000px) {
  /* line 336, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  section {
    padding: 1rem 0 2rem 0;
  }
}
/* line 340, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#about {
  background: #000;
  color: #eee;
}
/* line 343, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#about p.feature {
  color: #9a9a9a;
}
/* line 346, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#about ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 4rem;
  box-sizing: border-box;
  margin-bottom: 4rem;
  color: #9a9a9a;
  position: relative;
}
/* line 355, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#about ul li {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
  margin: 0 0 1.2rem;
}
/* line 360, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#about ul li:before {
  content: "";
  width: 1rem;
  height: 1rem;
  background: #0281ff;
  float: left;
  position: absolute;
  line-height: 150%;
  left: 1rem;
  margin-top: 0.7rem;
  border-radius: 1px;
}

/* line 375, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#about:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.15;
  background: url("logo.svg") no-repeat center center;
  background-position: 75% 16%;
  background-size: 500%;
}

/* line 389, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#enter {
  background: #fff;
}
/* line 391, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#enter #entry-confirmation {
  padding: 0 0 4rem 0;
  float: left;
  font-size: 1.2rem;
}

/* line 397, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq {
  background: #000;
  color: #eee;
}
/* line 402, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq #questions > div {
  position: relative;
}
/* line 406, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq p {
  padding-left: 4rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 150%;
}
/* line 412, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq p:before {
  position: absolute;
  font-weight: 700;
  color: #fff;
  font-size: 1rem;
  left: 0;
  padding: 0 0.6rem 0 0.6rem;
  background: #0074e8;
  border-radius: 1px;
}
/* line 422, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq p:nth-child(odd) {
  color: #0281ff;
  font-weight: 400;
}
/* line 425, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq p:nth-child(odd):before {
  content: "Q";
}
/* line 429, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq p:nth-child(even) {
  margin-bottom: 2.8rem;
}
/* line 431, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#faq p:nth-child(even):before {
  content: "A";
}

/* line 438, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#where #map-container {
  width: 100%;
  max-width: 1000px;
}
/* line 441, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#where #map-container #map {
  float: left;
  width: 100%;
  padding-bottom: 66%;
  background: url(map.png) no-repeat;
  background-size: cover;
}

/* line 450, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact {
  background: #000;
  color: #6792b5;
}
/* line 454, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact input:not([type="submit"]),
section#contact textarea {
  background: #001428;
  color: #446b8c;
}
/* line 458, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact input:not([type="submit"]):focus,
section#contact textarea:focus {
  background: #002e5b;
  color: #fff;
}
/* line 463, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact input::-webkit-input-placeholder {
  color: #6792b5;
}
/* line 466, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact input::-moz-placeholder {
  color: #6792b5;
}
/* line 469, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact input:-ms-input-placeholder {
  color: #6792b5;
}
/* line 472, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact input:-moz-placeholder {
  color: #6792b5;
}
/* line 475, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact textarea::-webkit-input-placeholder {
  color: #6792b5;
}
/* line 478, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact textarea::-moz-placeholder {
  color: #6792b5;
}
/* line 481, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact textarea:-ms-input-placeholder {
  color: #6792b5;
}
/* line 484, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
section#contact textarea:-moz-placeholder {
  color: #6792b5;
}

/* line 492, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form input,
form textarea {
  box-sizing: border-box;
  margin: 0 0 1.2rem 0;
  background: #eee;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 1.2rem;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 503, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form textarea {
  height: 12rem;
  max-width: 100%;
}
/* line 507, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form input[type=submit] {
  padding: 1.2rem 2.2rem 1.2rem 2.2rem;
  color: #9bcdff;
  background: #0281ff;
  cursor: pointer;
  float: right;
  clear: both;
  width: auto;
  font-weight: 700;
}
/* line 517, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form input:disabled,
form input:disabled:hover {
  background: #9a9a9a;
  color: silver;
  cursor: normal;
}
/* line 523, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form input[type=radio] {
  display: none;
}
/* line 527, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #players-label {
  height: 3rem;
  padding: 0 1.2rem 0 1.2rem;
  font-size: 1.08rem;
  background: #9a9a9a;
  display: table;
  float: left;
  color: #eee;
}
/* line 535, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #players-label div {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 541, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #player-select {
  margin: 0 0 1.2rem 0;
  float: left;
}
/* line 545, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #player-select:hover label {
  background: #0281ff;
  color: #fff;
}
/* line 549, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #player-select label.set {
  background: #0281ff;
  color: #fff;
}
/* line 553, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #player-select label {
  background: #eee;
  width: 3rem;
  height: 3rem;
  float: left;
  text-align: center;
  line-height: 100%;
  display: table;
  color: #9a9a9a;
}
/* line 562, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #player-select label div {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
/* line 568, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #player-select label:hover ~ label {
  background: #eee;
  color: #9a9a9a;
}
/* line 573, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #team-message {
  height: 3rem;
  float: left;
  padding: 0 0 0 1.2rem;
  display: table;
}
/* line 578, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
form #team-message div {
  display: table-cell;
  vertical-align: middle;
}

/* line 587, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 592, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 550px */
@media (min-width: 850px) {
  /* line 600, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .column,
  .columns {
    margin-left: 4%;
  }

  /* line 603, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  /* line 607, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .one.column,
  .one.columns {
    width: 4.66666666667%;
  }

  /* line 609, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .two.columns {
    width: 13.3333333333%;
  }

  /* line 610, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .three.columns {
    width: 22%;
  }

  /* line 611, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .four.columns {
    width: 30.6666666667%;
  }

  /* line 612, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .five.columns {
    width: 39.3333333333%;
  }

  /* line 613, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .six.columns {
    width: 48%;
  }

  /* line 614, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .seven.columns {
    width: 56.6666666667%;
  }

  /* line 615, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .eight.columns {
    width: 65.3333333333%;
  }

  /* line 616, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .nine.columns {
    width: 74.0%;
  }

  /* line 617, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .ten.columns {
    width: 82.6666666667%;
  }

  /* line 618, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .eleven.columns {
    width: 91.3333333333%;
  }

  /* line 619, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }

  /* line 621, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .one-third.column {
    width: 30.6666666667%;
  }

  /* line 622, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .two-thirds.column {
    width: 65.3333333333%;
  }

  /* line 624, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .one-half.column {
    width: 48%;
  }

  /* Offsets */
  /* line 627, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66666666667%;
  }

  /* line 629, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.3333333333%;
  }

  /* line 631, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }

  /* line 633, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.6666666667%;
  }

  /* line 635, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.3333333333%;
  }

  /* line 637, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }

  /* line 639, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }

  /* line 641, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }

  /* line 643, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78.0%;
  }

  /* line 645, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }

  /* line 647, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }

  /* line 650, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }

  /* line 652, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }

  /* line 655, /Users/benanderson/src/blujm/blujm/app/assets/stylesheets/page.scss */
  .offset-by-one-half.column,
  .offset-by-one-half.columns {
    margin-left: 52%;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

