<h1>The bluest game jam in Wellington</h1>
<p class="feature">
	BluJam is a fun 48-hour game making competition with some unique rules.
</p>
<ul>
	<li>
    	You must use either Java and the <a href="https://ecs.victoria.ac.nz/foswiki/pub/Courses/COMP102_2017T1/JavaResources/ecs100.jar">ECS100 library</a> library or <a href="https://processing.org/">Processing</a> to make your game
  	</li>
  	<li>
    	No external libraries/add-ons/engines are allowed
  	</li>
</ul>

<h1>Beginners vs Veterans</h1>

<div class="row">
  <div class="six columns">
      <h2>Beginners</h2>
        <ul>
          <li>Practise creating your own project, free from strict guidelines</li>
          <li>Learn more about game making and development in a team </li>
          <li>Test your skills against seasoned programmers</li>
        </ul>
    </div>

    <div class="six columns">
      <h2>Veterans</h2>
        <ul>
          <li>Practise making good games with basic tools</li>
          <li>Share your knowledge of game making with like-minded people</li>
          <li>Test your programming skills in a restricted domain</li>
        </ul>
    </div>
</div>

<h1>Rules</h1>

<p>
  Doors open at 5pm on the Friday for teams to set up. BluJam starts at 6pm with the announcement of the theme and runs until 6pm Sunday followed by voting and prize giving. Everyone from first-year university students to seasoned game makers, including non-students, are welcome to sign up and make some games.
</p>
<p>
  You will compete in teams of up to 5 people to make a game inspired by a theme that is only revealed at the start of the competition. You must submit your game by the end of the 48 hours in order to qualify for prizes and any games that have been found to break the rules will be disqualified.
</p>
<p>
  Your game must be built using either Java (along with the ECS100 library) or Processing. You may also use any code we provide or that you have written yourself before the competition. You are not permitted to use any external libraries/add-ons/engines. We consider the Java standard library to include all classes available in a standard Oracle/Sun JRE 8.
</p>
<p>
  There are no restrictions on the amount of preparation your team can make before the event, but we discourage you from building for a specific game. This includes but is not limited to; adapting a pre-made game to the theme and pre-making game assets. The theme is only announced at the start of the competition and we want you to turn up with an open mind for potential games and ideas.
</p>
<p>
  Your team is judged on the creativity, fun, polish, and visuals of your game. These aspects were chosen to reflect the work you do during the competition and rewards teams who focus on the gaming experience than teams who focus on code complexity.
</p>
