<h1>The bluest game jam in Wellington</h1>
<p class="feature">
	BluJam is a fun 48-hour game making competition for everyone.
</p>

<h1>Rules</h1>

<p>
  BluJam is a fun 48-hour game making competition designed with beginners in mind.
</p>

<p>
  Doors open at 5pm on the Friday for teams to set up. BluJam starts at 6pm with the announcement of the theme and runs until 6pm Sunday followed by voting and prize giving. Everyone, from first-year university students to post-grads, hobbyists to professionals, beginners to experts are welcome to sign up and make some games. Non-students are also encouraged to join.
</p>

<p>
  You will compete in teams of up to and including 5 people to make a game inspired by a theme that is only revealed at the start of the competition. You may use any code we provide or that you have written yourself before the competition. External assets, including correctly licensed audio and graphics are allowed but not required.
</p>

<p>
  There are no restrictions on the amount of preparation your team can make before the event, but we discourage you from building for a specific game. This includes but is not limited to; adapting a pre-made game to the theme and pre-making game assets. We want to encourage teams to work to the theme instead of trying to force prior code/designs to match, as well as ensure that the atmosphere remains constructive for beginners.
</p>

<p>
  Your team is judged on the creativity, fun, polish, and visuals of your game. These aspects were chosen to reflect the work you do during the competition and rewards teams who focus on the gaming experience than teams who focus on code complexity.
</p>
