<% if @contest_running %>
  <h1>Hold fire!</h1>
  <p>Signups are closed at the moment, check back again closer to the next competition.</p>
<% else %>
  <h1>Enter a team</h1>
  <p>Signups are open. $10 per team member ($5 for VEC members)</p>

  <a href="https://jams.acidic.co.nz/jams/1/events/1" class="button">Sign up</a>
<% end %>