<p class="feature">
  BluJm is hosted in rooms 102 and 104 (opposite the WishBone cafe) of the Alan MacDiarmid building on the Kelburn campus of Victoria University of Wellington.
</p>
<p>Parking is available (officially) from 7pm Friday until 5am Monday in the staff carpark. We recommend parking just south of the Alan MacDiarmid building as it is the easiest way to access the event if you are driving in.</p>