<table>
  <tr>
    <th>Team name</th>
    <th>Number of players</th>
    <th>Actions</th>
  <tr />
  
  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, admin_team_url(team) %></td>
      <td><%= team.players.count %></td>
      <td><%= link_to "Delete", admin_team_url(team), method: :delete %></td>
    </tr>
  <% end %>
</table>